<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>全民尬聊(guyChat)</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/socket.io/socket.io.js"></script>
    <script src="js/moment.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
</head>
<body>

<div class="wrapper">
	<div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search" />
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people">
                <li class="person" data-chat="person1">
                    <img src="img/thomas.jpg" alt="" />
                    <span class="name">Stephen</span>
                    <span class="time">00:00 PM</span>
                    <span class="preview">I am solitude...</span>
                </li>
                <li class="person" data-chat="person2">
                    <img src="img/thomas.jpg" alt="" />
                    <span class="name">Guys talking</span>
                    <span class="time">00:00 PM</span>
                    <span class="preview">I was wondering...</span>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name">guys group</span></span></div>
            <div class="chat" data-chat="person1">
                <div class="conversation-start">
                    <span>Today</span>
                </div>
                <div class="bubble you">
                    Hello, How are you today? Guy.
                </div>
            </div>
            <div class="chat" data-chat="person2">
                <div class="conversation-start">
                    <span>Today</span>
                </div>
                <div class="bubble you">
                    Hello, How are you today? Guy.
                </div>
            </div>

            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input id="message" type="text" />
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center;margin:1px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Opera、傲游、搜狗、世界之窗. 不支持Safari、IE8及以下浏览器。</p>
</div>
</body>
<script src="js/index.js"></script>
<script src="js/send.js"></script>
<script>
    //粒子背景特效
    /*$('body').particleground({
        dotColor: '#E8DFE8',
        lineColor: '#133b88'
    });*/
</script>
</html>